<div class="container">
    <div class="displayTable">
        <div class="displayTableCell">
            <div class="authBlock box">
                <h3 class="title is-3">Reset Password</h3>
                <p>Please enter your email address to request a password reset.</p>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="field">
                        <div class="control">
                            <input type="email" formControlName="passwordResetEmail" class="input" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="redirectToLogin has-text-centered">
                <span>Go back to ? <a class="redirect" routerLink="/sign-in">Log In</a></span>
            </div>
        </div>
    </div>
</div>