.is-google {
    background-color: #4285F4;
    color: white;
    text-align: center;
    width: 100%;
}

.is-google:hover {
    background-color: #2a75f3;
    color: white;
}

.redirect {
    color: #3273dc;
    text-decoration: underline;
    cursor: pointer;
}

.redirect:hover {
    color: #1a56db;
}