.card {
    position: relative;
    overflow: hidden;
    &:hover {
        .image-slider-buttons {
            opacity: 1;
        }
    }
}

.image-slider-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    .prev-button,
    .next-button {
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
    }
    .prev-button {
        padding-left: 10px;
    }
    .next-button {
        padding-right: 10px;
    }
}

.stars {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .column.is-one-third {
        flex-basis: 100%;
    }
}