section.banner {
    background-image: url("/assets/resort.png");
    background-size: cover;
    background-position: center;
    h1,
    h2 {
        color: white;
    }
    form.search {
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 80px;
        width: 800px;
        border-radius: 50px;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        .vertical-line {
            display: inline-block;
            border-left: 1px solid #ccc;
            margin: 0 10px;
            height: 50%;
        }
        div {
            display: flex;
            flex-direction: column;
            label {
                margin-left: 11px;
            }
            input {
                border: hidden;
                box-shadow: none;
            }
        }
        .search-button {
            background-color: #3498db;
            border: none;
            color: #ffffff;
            cursor: pointer;
            font-size: inherit;
            padding: 8px;
            border-radius: 50%;
            outline: none;
            transition: all 0.3s ease;
        }
        .search-button:focus,
        .search-button:hover {
            background-color: #00695c;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .iconBackground {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}

section.amenities {
    display: flex;
    flex-direction: column;
    gap: 10px;
    div.amenities-header {
        display: flex;
        div.amenitiesInfo {
            gap: 10px;
            padding: 60px;
            h1 {
                font-size: 30px;
            }
        }
        img {
            border-radius: 10px;
        }
    }
    div.amenities-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10px;
        .card {
            width: calc(100%/3);
        }
        .card-header-title {
            justify-content: center;
        }
    }
}