<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/logo.png" width="112" height="28">
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            <a class="navbar-item" routerLink="/bookings" routerLinkActive="active"
                ariaCurrentWhenActive="page">Available Rooms</a>
            <a *ngIf="isLoggedIn" class="navbar-item" routerLink="/my-bookings" routerLinkActive="active"
                ariaCurrentWhenActive="page">My Bookings</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a *ngIf="!isLoggedIn" class="button is-primary" routerLink="/sign-up" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        <strong>Sign up</strong>
                    </a>
                    <a *ngIf="isLoggedIn" class="button is-primary" (click)="signOut()">
                        <strong>Sign out</strong>
                    </a>
                    <a *ngIf="!isLoggedIn" class="button is-light" routerLink="/sign-in" routerLinkActive="active"
                        ariaCurrentWhenActive="page"> Sign in </a>
                </div>
            </div>
        </div>
    </div>
</nav>