<div *ngIf="bookings$ | async as bookings; else noBookings" class="container">
    <section class="section">
        <div class="card" *ngFor="let booking of bookings">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img [src]="booking.room.images[0]" [alt]="booking.room.name">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ booking.room.name }}</p>
                        <p>{{ booking.room.description }}</p>
                        <hr class="booking-divider">
                        <p><strong>Check-in:</strong> {{ booking.checkIn | date }}</p>
                        <p><strong>Check-out:</strong> {{ booking.checkOut | date }}</p>
                        <p><strong>Rooms:</strong> {{ booking.rooms }}</p>
                        <p><strong>Guests:</strong> {{ booking.guests }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<ng-template #noBookings>
    <div class="container">
        <section class="section">
            <div class="notification is-info">
                <p>You have no bookings.</p>
            </div>
        </section>
    </div>
</ng-template>